*,
body {
  margin: 0;
  padding: 0;
}
p {
  font-size: 1rem;
}
button {
  font-size: 1rem;
  font-weight: 300;
}
@media screen and (max-width: 600px) {
  *,
  body {
    overflow-x: hidden;
  }
  p {
    font-size: 0.875rem;
  }
  h2 {
    font-size: 1.3125rem;
  }
  button {
    font-size: 0.875rem;
  }
}
/* @media screen and (max-width: 768px) {
  *,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}  */
